.intro{
    margin: 4%;

}

h1 {
    color: #10002B;
    text-align: center;
    font-size: xxx-large;
    margin: 2%;
}

.marca {
    background-color: #10002B;
    color: white;
}

.imagen {
    text-align: center;
}