/* -------------------------------------- */
/* ----------FOOTER --------------------- */
/* -------------------------------------- */

/* MOBILE FIRST */
    
.foot {
    display: flex;
    flex-direction: column; //para que los logos y el texto se comporten como columnas
    align-items: center;
    background-color: grey;
    padding: 8px; //relleno para que las cosasa que estan dentro del footer np esten tan pegadas a la pagina
    margin-top: 40px ;
    color: white;
    gap: 5px;


    @media screen and (min-width: 992px) { //cuando la pantalla sea una computadora
        & {
            padding: 2px;// agrego relleno al footer el footer
        }
    }

}

.whatsapp {
    background-color: #25D366;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    color: white;
    width: 55px;
    height: 55px;
    line-height: 65px; /* lo mismo que el alto */
    text-align: center;
    cursor: pointer;

}

.seguir {
    font-family: "JetBrains Mono", serif;
    font-weight: 800;
    color: white;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los íconos */
    margin-bottom: 10px; /* Espacio entre los íconos y el texto de copyright */
}

.instagram {
    background-color: #C13584;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 65px; /* lo mismo que el alto */
    text-align: center;
    cursor: pointer;
}

.facebook {
    background-color: #1877F2;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 65px; /* lo mismo que el alto */
    text-align: center;
    cursor: pointer;
}

.twitter {
    background-color: skyblue;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 65px; /* lo mismo que el alto */
    text-align: center;
    cursor: pointer;
}

.copy {
    text-align: center;
    font-size: 10px; /* Ajusta el tamaño de fuente si es necesario */
    color: white;
    font-weight: 400;
}