/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

/* MOBILE FIRST */
.main-header {
    display: flex;
    flex-direction: column-reverse; 

    @media screen and (min-width:992px) { /* Cuando sea una pantalla de pc, quiero que el menu inicio-contacto-nosotros suba para arriba de la barra de busqueda */
        & {
            flex-direction: column;
        }
    }

}

#menu {
    display: none; /*Oculta el checkbox*/
    

    /* El '&' significa que en cuanto a especificaciones me refiero a 'menu' tambien. La parte de checked (que significa 'cuando está marcado') se activa el siguiente hermano .nav-bar se muestra usando display: block;*/
    &:checked + .nav-bar { 
        display: block;
    }

    &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
        background-color: C77DFF; /* Hace que la caja del menu hamburguesa se ponga rojo cuando uno lo selecciona */
    }      
      
}  

/* ------------------------------- */
/* NAVBAR */
/* ------------------------------- */

/* Yo llame aproposito muchos elementos con nav-bar asi despues la propiedad agarra varios elementos */
/* Y con el ANIDAMIENTO agarro tambien los otros elementos */
.nav-bar {
    background-color: purple;
    /* Que no muestre el nav bar si la pantalla es un celular */
    display: none; 

    /* La barra que contiene el inicio-alta-nosotros-contacto */
    &__nav-list { /* con & estoy diciendo que agarre ambas etiquetas.nav-bar__nav-list */
        display: flex;
        flex-direction: column;  /* Si quiero que la barra en vez de estar de columna este de fila, modifico aca */
        justify-content: center;
        list-style-type: none;

        @media screen and (min-width: 992px) {
            & { /* Al poner & le digo que solamente cambie del 'nav-bar__navlist' las cosas qe voy a poner aca cuando la pantalla sea una computadora  */
                flex-direction: row;
                border: none;
                
            }
            
        }
    }

    &__nav-item { /* nav-bar__nav-item*/
        text-align: center;
        
    }

    &__nav-link {
        display: block;
        background-color: purple;
        padding: 1rem 2rem;
        color: white;
        border: 1px solid #10002B;
        text-decoration: none;
    }

    @media screen and (min-width: 992px){ //compu
        & { /* Aca le digo que muestre en el 'nav-bar' cuando la pantalla sea pc  */
            display: block;
        }

        &__nav-link{
            border: none;
            text-decoration: none;
            font-weight: 600;
            
        }

        &__nav-link:hover{
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
        }


    }

}

/* ----------------------------------------- */
/* SEARCH BAR */
/* ----------------------------------------- */

.search-bar {
    display: flex;
    background-color: #10002B;
    justify-content: space-around;
    
    &__logo-container { /* search-bar__logo-container */
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Orbitron", serif;
        font-optical-sizing: auto;
        color: white;
        font-size: 35px;
        margin-left: 30px;
    }

    &__form-container {
        padding: 1rem;
        background-color: #10002B ;
        display: flex; /* Convierto la caja de la barra de busqueda en un flexbox */
        flex-basis: 100%; /* Le digo que use el 100% del tamaño del contenedor padre  (search-bar__form-container)*/
        /* Esto significa que cada elemento hijo ocupará el 100% del ancho del contenedor, forzando cada elemento a ocupar una línea completa. */
        justify-content: center; /* Centre los elementos */
        
    }

    &__form-label {
        display: none;
    }

    &__form-search {
        background-color: white;
        border: none;   
    }

    &__form-submit {
        background-color: #9D4EDD;
        color: white;
        padding: 2%;
        border: none ;
        border-radius: 4%;
        cursor: pointer;
    }

    &__carrito-container {
        flex: 0 0 3rem; /* shorthand(grow shrink basis) */
        background-color: #3C096C;
        text-align: center;
        padding-top: 20px;
        color: white;
        cursor: pointer;
    }

    @media screen and (min-width: 992px ){
        &__form-search {
            width: 300px;
            height: 35px;
            border-radius: 6px 0 0 6px; /* Bordes redondeados a la izquierda */
        }

        &__form-submit {
            height: 35px;
            border-radius: 0 6px 6px 0; /* Bordes redondeados en la derecha */
            border: none;
            text-align: center;
            padding: 10px;
        }

        &__form-label {
            display: flex;
            align-items: center;
            color: white;
            padding-right: 10px;
            font-family: "JetBrains Mono", serif;
     
        }
    }
}


/* ----------------------------------------- */
/* MENU TOOGLE */
/* ----------------------------------------- */

.menu-toogle {
    /* Con display block le digo que muestre la cajita de hamburguesa cuando es un celular*/
    display: block;
    background-color: #C77DFF;
    flex: 0 0 3rem; 
    position: relative;
    cursor: pointer; /* hacer el mouse una manito */
    

    &__label {
        display: block;
        background-color: #7B2CBF;
        height: 100%;
        cursor: pointer;
        
    }

    &__top-bread,
    &__meat , 
    &__bottom-bread {
        display: block;
        background-color: #333;
        height: .2rem;
        position: absolute; /*  para poder definir la posicion */
        left: .5rem ;
        right: .5rem ;
        
        
    }

    &__top-bread {
        top: .8rem;
        
    }

    &__meat { /* centrar sin usar flexbox */
        top: 50%; /* manera de posicionar y centrar un elemento, le pido que se centre(verticalmente) al 50% del elemento, o sea en el medio del alto de la caja */
        margin-top: -.1rem; /* Para lo de arriba tuve en cuenta esto, restandole la mitad de lo que mide height (.2rem) asi queda centrado a la mitad de la caja, teniendo en cuenta ahora lo que ocupa el ancho de la barrita que ahora este en el centro de la caja*/
    }

    &__bottom-bread {
        bottom: .8rem;
            
    }

    @media screen and (min-width: 992px ){
        & { /* menu toogle */
            /* Cuando sea una pantalla de pc, quiero que desaparezca el menu hamburguesa */
            display: none;
            
        }
    }
}